/* Istructions */

*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit
}

a:after{
    text-decoration: none;
    color: inherit
}

#link{
    color: #136cff;
    text-decoration: underline;
}

h1{
    display: inline-block;
    margin: 3% 5% 5%;
    text-align: justify;
    font-size: 90px;
}

h2{
    display: block;
    font-size: 50px; 
}

.down{
    display: block;
}

.restrict{
    display: block;
    margin: 25% 10% 10% 10%;
    width: 80%;
}

.bold{
    font-weight: bold;
}

hr{
    width: 17%;
}

/* /Istructions */


/* Header + Navbar */

header{
    width: 100vw;
    padding: 1% 0 0 1%;
}

.logo{
    float: left;
}

.navsx{
    font-weight: bold;
    position: relative;
    padding-left: 3%;
}


.navdx{
    font-weight: bold;
    position: relative;
    padding-left: 3%;
    left: 32%;
    
}

#buttondx{
    width: 65px;
    height: 35px;
    margin-left: 35%;
    background-color: #0061ff;
    border: 1px solid #0061ff;
    color: white;
}


/* /Header + Navbar */


/* Jumbotron */

#jumbotron{
    margin: 1% 0;
    padding: 3% 5%;
    width: 100vw;
    height: 800px;
    border: 1px solid #b4d0e7;
    background-color: #b4d0e7;
}

#jumbo{
    float: right;
    width: 900px;
    height: 500px;
}

#j_restrict{
    display: inline-block;
    margin-left: 5%;
    width: 450px;
}

.txt{
    font-size: larger;
    text-align: center;
    display: inline;
}

#freetrial{
    display: inline-block;
    font-size: 18px;
    width: 250px;
    height: 50px;
    margin: 5% 0 5% 0;
    background-color: #0061ff;
    border: 1px solid #0061ff;
    color: white;
}

.arrow{
    display: block;
    margin-top: 8%;
    font-size: 40px;
}

/* /Jumbotron */


/* Plain options */

.radio{
    margin: 6% 0 3% 2%;
    word-spacing: 5px;
}

.column{
    float: left;
    width: 24%;
    height: 1000px;
    border: 1px solid gray;
    margin: 0 2%;
    text-align: center;
}

.cell{
    display: inline-block;
    padding: 4% 0;
    width: 100%;
    height: 4%;
    border: 1px solid gray;
}

.c_content{
    margin: 10% 4% 1% 6%;
    text-align: justify;
}

#big{
    font-size: 500px;
}

.c_button{
    display: inline-block;
    font-size: 18px;
    width: 280px;
    height: 40px;
    background-color: #0061ff;
    border: 1px solid #0061ff;
    color: white;
}

.big{
    font-size: 25px;
}

#c_gray{
    color: gray;
}

/* /Plain options */